body {
    background-image: url("https://gartic.com.br/imgs/sala/pattern_preto.png");
    background-color: #333;
    background-repeat: repeat;
    display: flex;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* Apenas para centralizar o form na página */
    margin: auto;
    width: 300px;
    height: auto;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 0px 0px 10px grey;
    background-color: #eee;

}

form div + div {
    margin-top: 1em;
}


input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font-family: Roboto, sans-serif;
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #434343;
    color:rgb(255,240,240);
    font-size: 15px;
    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 3px solid #505050;
    border-radius: 1px;
    margin: 2px;
    padding: 8px;
    
}
select {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font-family: Roboto, sans-serif;
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #434343;
    color:rgb(255,240,240);
    font-size: 15px;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #505050;
    border-radius: 1px;
    padding: 8px;
    margin: 2px;
}


input:focus, textarea:focus, select:focus  {
    outline-width: 0;
    border-color: #92CFE6;
    
}


button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    position: center;
    width: 300px;
    height: 39px;
    background-color: #92CFE6;
    border: solid 2px;
    border-color: #92CFE6 ;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
}

.total {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-top: 50px;
}

::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(134, 132, 132);
    opacity: 1; /* Firefox */
  }
